// ==================================================
// Pallets
// ==================================================

$white: #ffffff;
$black: #000000;

$pallet-gray: (
  50: #f7f7f7,
  100: #e3e0e4,
  200: #b1aeb3,
  300: #928e94,
  400: #868288,
  500: #777777,
  600: #69666c,
  700: #5b575e,
  800: #4d4950,
  900: #3f3c42,
  contrast: (
    50: #232323,
    100: #232323,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);

$pallet-orange: (
  50: #ffffff,
  100: #f5d1b5,
  200: #eeb98f,
  300: #eea972,
  400: #ec9957,
  500: #ec8c3f,
  600: #ea7d25,
  700: #e96800,
  800: #e35400,
  900: #342d28,
  contrast: (
    50: #232323,
    100: #232323,
    200: #232323,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);

$pallet-red: (
  50: #ffffff,
  100: #f99bad,
  200: #fc7e96,
  300: #fb5675,
  400: #fd3057,
  500: #ea2046,
  600: #cf153d,
  700: #bc0d37,
  800: #ab0632,
  900: #97022b,
  contrast: (
    50: #232323,
    100: #232323,
    200: #232323,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);

$pallet-yellow: (
  50: #ffffff,
  100: #f4ecd5,
  200: #f7e6b4,
  300: #fae29b,
  400: #fcdb7b,
  500: #fed55d,
  600: #fecb4c,
  700: #febf3a,
  800: #fdb121,
  900: #fda418,
  contrast: (
    50: #232323,
    100: #232323,
    200: #232323,
    300: #232323,
    400: #232323,
    500: #232323,
    600: #232323,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);

$pallet-green: (
  50: #ffffff,
  100: #cedea3,
  200: #c1d688,
  300: #b0cd64,
  400: #a5c64b,
  500: #99c032,
  600: #82ae22,
  700: #70a117,
  800: #5a940c,
  900: #417e05,
  contrast: (
    50: #232323,
    100: #232323,
    200: #232323,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);

$pallet-blue: (
  50: #ffffff,
  100: #5ad2f7,
  200: #45c7ef,
  300: #41b8de,
  400: #35a9ce,
  500: #2f98b9,
  600: #1e81a1,
  700: #09627d,
  800: #06495e,
  900: #002c3a,
  contrast: (
    50: #232323,
    100: #232323,
    200: #232323,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);
