// ==================================================
// Variables
//
// 1. Spaces
// 2. Media Queries
// 3. zIndex
// 4. Easing
// 5. Assets
// ==================================================

@import '~rupture-sass/rupture';

// --------------------------------------------------
// 1. Spaces
// --------------------------------------------------

$space-xxs    : .4rem;
$space-xs     : .8rem;
$space-sm     : 1.6rem;
$space        : 2.4rem;
$space-md     : 3.2rem;
$space-lg     : 4.8rem;
$space-xlg    : 6.4rem;
$space-xxlg   : 9.6rem;
$space-gutter : $space-md;
$space-indent : $space-xxs;

$header-height : 6.5rem;

// --------------------------------------------------
// 2. Media Queries
// --------------------------------------------------

$screen-xs   : 380px;  // xExtra small screen / phone
$screen-sm   : 600px;  // Extra small screen / phone
$screen-md   : 960px;  // Small screen / tablet
$screen-lg   : 1280px;  // Medium screen / desktop
$screen-xlg  : 1920px; // Extra Large screen / wide desktop

$rupture: map-merge($rupture,
  (
    scale: 0 $screen-xs $screen-sm $screen-md $screen-lg,
    scale-names: '0' 'xs' 'sm' 'md' 'lg' 'xlg'
  )
);

// --------------------------------------------------
// 3. zIndex
// --------------------------------------------------

$zindex-bg           : -1;
$zindex-default      : 1;
$zindex-header       : 10;
$zindex-menu         : 1000;
$zindex-highlight    : 1000;

// --------------------------------------------------
// 4. Easing
// --------------------------------------------------

$ease-in-cubic    : cubic-bezier(.55, 55, .675, .19);
$ease-out-cubic   : cubic-bezier(.215, .61, .355, 1);
$ease-out-back    : cubic-bezier(.175, .885, .32, 1.275);
$ease-in-quart    : cubic-bezier(.895, 3, .685, .22);
$ease-in-out-quad : cubic-bezier(.25, .46, .45, .94);

// --------------------------------------------------
// 5. Assets
// --------------------------------------------------

$border-default: rgba(map-get($pallet-gray, 200), .3) solid 1px;
$border-radius: .2rem;

