// -------------------------------------------------
// Card Subtitle
// -------------------------------------------------

@import '../../../styles/variables.scss';

:host {
  $font: (h4, regular);
  display: block;

  &:not(:last-child):not(:empty) {
    margin-bottom: $space-xxs;
  }
}
