// -------------------------------------------------
// Card Footer
// -------------------------------------------------

@import 'variables';

:host {
  align-items: center;
  border-top: 1px solid $pattern-border;
  display: flex;
  justify-content: space-between;
  margin-top: $space-sm;
  padding-top: $space-sm;
  width: 100%;

  @include above(sm) {
    margin-top: auto;
  }
}
