<app-content>
  <h1>UI components for Angular</h1>
  <p>This project uses Angular as framework and Angular Material for basic UI components.</p>
  <p>You can find more informations at <a href="https://github.com/cubonetwork/cubo-ui">Github.</a></p>

  <h2>Getting Started</h2>
  <h3>Application</h3>

  <pre class="example">
    <code [innerHtml]="import_content"></code>
  </pre>

  <h3>Using as dependency</h3>
  <pre class="example">
    <code [innerHtml]="install"></code>
  </pre>

  <h3>app.module.ts</h3>
  <pre class="example">
     <code [innerHtml]="import_component"></code>
  </pre>

</app-content>
