// -------------------------------------------------
// Navbar
// -------------------------------------------------

@import 'core';

.navbar {
  background: map-get($light-theme, bg);

  @include below(sm) {
    display: none;

    &.-in {
      display: block;
    }
  }

  .-item-active {
    position: relative;

    &:before {
      background: map-get($light-theme, accent);
      bottom : 0;
      content: '';
      position: absolute;
      top: 0;
      width: $space-xxs;
    }
  }
}

.nav-list {
  background-color: map-get($light-theme, overlap);
  border: $border-tiny;
  box-shadow: 0 0 2px 0 rgba(map-get($pallet-gray, 100), .5);
  padding: 0;
}

.button-mobile {
  @include mat-typography-level-to-styles($typography, body-2);
  align-items: center;
  background: map-get($light-theme, accent);
  color: $white;
  cursor: pointer;
  display: flex;
  height: $space-lg;
  justify-content: center;
  min-width: $space-xxlg;
  padding-left: $space-sm;
  padding-right: $space-sm;
  transition: color .15s;
}
