// -------------------------------------------------
// Navbar
// -------------------------------------------------

@import 'core';

.navbar {
  background: rgba($gray-white, .2);

  @include below(sm) {
    display: none;

    &.-in {
      display: block;
    }
  }

  .-item-active {
    position: relative;

    &:before {
      background: $brand-primary;
      bottom : 0;
      content: '';
      position: absolute;
      top: 0;
      width: $space-xxs;
    }
  }
}

.nav-list {
  box-shadow: 0 0 1px 0 rgba($gray-darker, .4);
  padding: 0;
}

.button-mobile {
  @include mat-typography-level-to-styles($typography, body-2);
  align-items: center;
  background: $brand-primary;
  color: $white;
  cursor: pointer;
  display: flex;
  height: $space-lg;
  justify-content: center;
  min-width: $space-xxlg;
  padding-left: $space-sm;
  padding-right: $space-sm;
  transition: color .15s;
}
