// ==================================================
// Content
// ==================================================

@import 'core';

:host {
  display: block;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-top: $space;

  &:not(:last-child) {
    margin-bottom: $space;
  }

  & ::ng-deep h1 {
    @include mat-typography-level-to-styles($typography, headline);

    &:not(:first-child) {
      margin-top: $space-md;
    }

    &:not(:last-child) {
      margin-bottom: $space;
    }
  }

  & ::ng-deep h2 {
    @include mat-typography-level-to-styles($typography, title);
    border-bottom: $border-default;
    padding-bottom: $space-xxs;

    &:not(:first-child) {
      margin-top: $space-md;
    }

    &:not(:last-child) {
      margin-bottom: $space-sm;
    }
  }

  & ::ng-deep h3 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8rem;

    &:not(:first-child) {
      margin-top: $space;
    }

    &:not(:last-child) {
      margin-bottom: $space-sm;
    }
  }

  & ::ng-deep pre {
    background: map-get($light-theme, overlap);
    box-shadow: 0 2px 3px 0 rgba(map-get($pallet-gray, 200), .5);
    color: map-get($light-theme, text-primary);
    margin-bottom: $space-md;
    padding: $space-xs;
  }

  & ::ng-deep code {
    background: map-get($light-theme, overlap);
    padding: $space-xs;
  }

  & ::ng-deep .example {
    background: map-get($light-theme, overlap);
    box-shadow: 0 2px 3px 0 rgba(map-get($pallet-gray, 200), .5);
    line-height: 3rem;
    overflow: hidden;
  }

  & ::ng-deep p {
    font-size: 1.6rem;
    line-height: 2.6rem;

    &:not(:last-child) {
      margin-bottom: $space;
    }
  }

  & ::ng-deep table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

    &:not(:first-child) {
      margin-top: $space-md;
    }

    &:not(:last-child) {
      margin-bottom: $space-md;
    }

    tr {
      &:not(:last-child) {
        border-bottom: $border-default;
      }
    }

    th,
    td {
      padding: $space-xs;
    }

    th {
      background: rgba(map-get($pallet-gray, 100), .5);
      color: map-get($light-theme, text-primary);
      font-weight: 400;
      text-align: left;
    }
  }
}
