@import "~@angular/material/theming";

$cubo-ui-primary: (
  50: #e2f2f6,
  100: #b8dee8,
  200: #88c9d9,
  300: #58b3c9,
  400: #35a2be,
  500: #1192b2,
  600: #0f8aab,
  700: #0c7fa2,
  800: #0a7599,
  900: #05638a,
  A100: #b7e7ff,
  A200: #84d6ff,
  A400: #51c5ff,
  A700: #37bcff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$cubo-ui-accent: (
  50: #f3f7e8,
  100: #e0ecc5,
  200: #cce09e,
  300: #b8d377,
  400: #a8c959,
  500: #99c03c,
  600: #91ba36,
  700: #86b22e,
  800: #7caa27,
  900: #6b9c1a,
  A100: #edffd3,
  A200: #d8ffa0,
  A400: #c3ff6d,
  A700: #b9ff53,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$my-theme-primary: mat-palette($cubo-ui-primary, 300, 300, 900);
$my-theme-accent: mat-palette($cubo-ui-accent);

$cubo-ui-theme: mat-light-theme($my-theme-primary, $my-theme-accent);
