// ==================================================
// Components
//
// 1. Main
// ==================================================

@import 'core';

:host {
  display: block;
  padding: $space;
  width: 100%;

  @include above(md) {
    display: grid;
    grid-column-gap: $space;
    grid-template-columns: 30rem 3fr;
    grid-template-rows: auto;
  }
}

// -------------------------------------------------
// 1. Main
// -------------------------------------------------

.main {
  max-width: $screen-md;
  position: relative;

  @include below(md) {
    margin-top: $space;
  }
}
