// ==================================================
// App
//
// 1. Header
// 2. Main
// 3. Container
// 4. Navbar
// ==================================================

@import 'variables';

// -------------------------------------------------
// 1. Header
// -------------------------------------------------

.header {
  align-items: center;
  background: rgba($gray-white, .95);
  border-bottom: $pattern-border solid 1px;
  box-shadow: 0 0 1px 0 rgba($gray-darker, .4);
  display: flex;
  height: $header-height;
  padding-left: $space;
  padding-right: $space;
  justify-content: space-between;
  width: 100%;
  z-index: $zindex-header;

  @include above(sm) {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  &__logo {
    @include mat-typography-level-to-styles($typography, headline);
    color: $brand-primary;
    font-weight: 700;
    text-decoration: none;

    &--color-1 {
      color: $brand-secondary;
    }

    &--color-2 {
      color: $brand-alternate;
    }
  }
}

// -------------------------------------------------
// 2. Main
// -------------------------------------------------

.main {
  margin-top: $header-height;
}

.content {
  max-width: $screen-md;
}

// -------------------------------------------------
// 3. Container
// -------------------------------------------------

.container {
  padding: $space;
  width: 100%;

  @include above(sm) {
    display: grid;
    grid-column-gap: $space;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
  }
}

// -------------------------------------------------
// 4. Navbar
// -------------------------------------------------

.navbar {
  background: rgba($gray-white, .2);

  &--active {
    position: relative;

    &:before {
      background: $brand-primary;
      bottom : 0;
      content: '';
      position: absolute;
      top: 0;
      width: $space-xxs;
    }
  }
}

.nav-list {
  box-shadow: 0 0 1px 0 rgba($gray-darker, .4);
  padding: 0;
}
