// ==================================================
// App
//
// 1. Header
// 2. Main
// ==================================================

@import 'variables';

// -------------------------------------------------
// 1. Header
// -------------------------------------------------

.header {
  align-items: center;
  background: rgba($gray-white, .95);
  border-bottom: $pattern-border solid 1px;
  box-shadow: 0 0 1px 0 rgba($gray-darker, .4);
  display: flex;
  height: $header-height;
  justify-content: space-between;
  padding-left: $space;
  padding-right: $space;
  width: 100%;
  z-index: $zindex-header;

  @include above(sm) {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  &__logo {
    @include mat-typography-level-to-styles($typography, headline);
    color: $brand-primary;
    font-weight: 700;
    text-decoration: none;

    &--color-1 {
      color: $brand-secondary;
    }

    &--color-2 {
      color: $brand-alternate;
    }
  }
}

// -------------------------------------------------
// 2. Main
// -------------------------------------------------

.main {
  margin-top: $header-height;
}

