@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic&amp;subset=latin-ext');
@import '~@angular/material/theming';
@import 'cubo-ui-theme.scss';

$general-typography: mat-typography-config(
  $font-family: '"Open Sans", "Helvetica Neue", sans-serif',
  $display-4:     mat-typography-level(11.2rem, 11.2rem, 300),
  $display-3:     mat-typography-level(5.6rem, 5.6rem, 400),
  $display-2:     mat-typography-level(4.5rem, 4.8rem, 400),
  $display-1:     mat-typography-level(3.4rem, 4.0rem, 400),
  $headline:      mat-typography-level(2.4rem, 3.2rem, 400),
  $title:         mat-typography-level(2.0rem, 3.2rem, 500),
  $subheading-2:  mat-typography-level(1.6rem, 2.8rem, 400),
  $subheading-1:  mat-typography-level(1.5rem, 2.4rem, 400),
  $body-2:        mat-typography-level(1.4rem, 2.4rem, 500),
  $body-1:        mat-typography-level(1.4rem, 2.0rem, 400),
  $caption:       mat-typography-level(1.2rem, 2.0rem, 400),
  $button:        mat-typography-level(1.4rem, 1.4rem, 500),
  $input:         mat-typography-level(1.6rem, 1.125, 400)
);

$secondary-typography: mat-typography-config(
  $font-family: 'Roboto, sans-serif'
);

@include mat-core($general-typography);

.cubo-ui {
  @include angular-material-theme($cubo-ui-theme);
}
