// ==================================================
// App
//
// 1. Content
// 2. Panel
// 3. Description
// 4. Code Render
// ==================================================

@import 'variables';

// -------------------------------------------------
// 1. Content
// -------------------------------------------------

.content {
  position: relative;
}

// -------------------------------------------------
// 2. Panel
// -------------------------------------------------

.panel {
  &__header {
    @include mat-typography-level-to-styles($typography, subheading-1);
  }
}

.code {
  background: $gray-darker;
  color: $white;
}

// -------------------------------------------------
// 3. Description
// -------------------------------------------------

.description {
  @include mat-typography-level-to-styles($typography-secondary, body-1);
  margin-top: $space;

  &:not(:last-child) {
    margin-bottom: $space;
  }

  ::ng-deep h1 {
    @include mat-typography-level-to-styles($typography-secondary, subheading-1);

    &:not(:last-child) {
      margin-bottom: $space;
    }
  }

  ::ng-deep h2 {
    @include mat-typography-level-to-styles($typography-secondary, subheading-2);
    border-bottom: $pattern-border solid 1px;
    padding-bottom: $space-xs;

    &:not(:last-child) {
      margin-bottom: $space-xs;
    }
  }

  ::ng-deep h3 {
    @include mat-typography-level-to-styles($typography-secondary, subheading-2);

    &:not(:last-child) {
      margin-bottom: $space-xs;
    }
  }

  ::ng-deep code {
    background: #e0e0e0;
    color: $gray-darker;
    margin-bottom: $space-md;
    padding: $space-xs;
  }

  ::ng-deep p {
    &:not(:last-child) {
      margin-bottom: $space-sm;
    }
  }

  ::ng-deep table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 70%;
  }

  ::ng-deep tr {
    &:not(:last-child) {
      border-bottom: 1px solid $pattern-border;
    }
  }

  ::ng-deep th,
  ::ng-deep td {
    background: #f5f5f5;
    padding: $space-xs;
  }

  ::ng-deep th {
    color: $gray;
    font-weight: 400;
    text-align: left;
  }
}

// -------------------------------------------------
// 4. Code Render
// -------------------------------------------------

.render {
  margin-top: $space;
}




