<button class="button-mobile" (click)="toggleMenu($event)" fxShow.xs="true" fxShow.gt-sm="false">
  <ng-container *ngIf="!showMenu">Menu</ng-container>
  <ng-container *ngIf="showMenu">Close</ng-container>
</button>

<nav class="navbar" [ngClass.sm]="{'navbar--in': showMenu}">
  <mat-nav-list class="nav-list">
    <ng-container *ngFor="let item of menu">
      <a mat-list-item routerLink="/components/{{item.path}}" [routerLinkActive]="['navbar--active']" [routerLinkActiveOptions]="{exact: true}">{{item.name}}</a>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-nav-list>
</nav>

<article class="main">
  <mat-tab-group>
    <mat-tab label="Example">
      <mat-card-content class="tab-content">
        <article class="content">
          <router-outlet name="description"></router-outlet>
        </article>
        <mat-accordion>
          <mat-expansion-panel class="panel">
            <mat-expansion-panel-header class="panel__header">
              View Code
            </mat-expansion-panel-header>
            <mat-tab-group>
              <mat-tab label="HTML">
                <pre class="panel__code">
                  <router-outlet name="code-html"></router-outlet>
                </pre>
              </mat-tab>
              <mat-tab label="TS">
                <pre class="panel__code">
                  <router-outlet name="code-ts"></router-outlet>
                </pre>
              </mat-tab>
              <mat-tab label="CSS">
                <pre class="panel__code">
                  <router-outlet name="code-css"></router-outlet>
                </pre>
              </mat-tab>
            </mat-tab-group>
          </mat-expansion-panel>
        </mat-accordion>
        <div class="render">
          <router-outlet name="render"></router-outlet>
        </div>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="API">
      <article class="content">
        <router-outlet name="api"></router-outlet>
      </article>
    </mat-tab>
  </mat-tab-group>
</article>
