// ==================================================
// App
//
// 1. Header
// 2. Main
// 3. Container
// ==================================================

@import 'variables';

// -------------------------------------------------
// 5. Content
// -------------------------------------------------

.content {
  position: relative;
}

// -------------------------------------------------
// 6. Panel
// -------------------------------------------------

.panel {

  &__header {
     @include mat-typography-level-to-styles($typography, subheading-1);
  }
}

.code {
  background: $gray-darker;
  color: $white
}

// -------------------------------------------------
// 7. Description
// -------------------------------------------------

.description {
  @include mat-typography-level-to-styles($typography-secondary, body-1);
  margin-top: $space;

  &:not(:last-child) {
    margin-bottom: $space;
  }

  ::ng-deep h1 {
    @include mat-typography-level-to-styles($typography-secondary, subheading-1);
    margin-bottom: $space;

    &:not(:last-child) {
      margin-bottom: $space;
    }
  }

  ::ng-deep h2 {
    @include mat-typography-level-to-styles($typography-secondary, subheading-2);
    border-bottom: $pattern-border solid 1px;
    padding-bottom: $space-xs;
    margin-bottom: $space-xs;

    &:not(:last-child) {
      margin-bottom: $space-xs;
    }
  }

  ::ng-deep h3 {
    @include mat-typography-level-to-styles($typography-secondary, subheading-2);
    margin-top: $space-md;
    margin-bottom: $space-xs;

    &:not(:last-child) {
      margin-bottom: $space-xs;
    }
  }

  ::ng-deep code {
    background: #e0e0e0;
    color: $gray-darker;
    margin-bottom: $space-md;
    padding: $space-xs;
  }

  ::ng-deep p {
    margin-bottom: $space-md;

    &:not(:last-child) {
      margin-bottom: $space-md;
    }
  }

  ::ng-deep table {
    table-layout: fixed;
    width: 70%;
    border-collapse: collapse;
  }

  ::ng-deep th, td {
    background: #f5f5f5;
    padding: 20px;
    border: 1px solid rgba(0,0,0,.03);
  }

  ::ng-deep th {
    text-align: left;
    padding: $space-xs;
    color: $gray;
    font-weight: 400;
  }

  ::ng-deep td {
    padding: $space-xs;
  }

  ::ng-deep div {
    margin-top: $space;
    margin-bottom: $space;
  }

  ::ng-deep tr {
    &:not(:last-child) {
      border-bottom: solid 1px $gray-light;
    }
  }
}


// -------------------------------------------------
// 8. Code Render
// -------------------------------------------------

.render {
  margin-top: $space;
}




