// ==================================================
// Components
//
// 1. Main
// 2. Panel
// 3. Navbar
// 4. Content
// 5. Button Mobile
// ==================================================

@import 'variables';

:host {
  display: block;
  padding: $space;
  width: 100%;

  @include above(md) {
    display: grid;
    grid-column-gap: $space;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
  }
}

// -------------------------------------------------
// 1. Main
// -------------------------------------------------

.main {
  max-width: $screen-md;
  position: relative;

  @include below(md) {
    margin-top: $space;
  }
}

// -------------------------------------------------
// 2. Panel
// -------------------------------------------------

.panel {
  &__header {
    @include mat-typography-level-to-styles($typography, body-1);
  }

  &__code {
    background: $gray-darker;
    color: $white;
  }
}

// -------------------------------------------------
// 3. Navbar
// -------------------------------------------------

.navbar {
  background: rgba($gray-white, .2);

  &--active {
    position: relative;

    &:before {
      background: $brand-primary;
      bottom : 0;
      content: '';
      position: absolute;
      top: 0;
      width: $space-xxs;
    }
  }

  @include below(sm) {
    display: none;

    &--in {
      display: block;
    }
  }
}

.nav-list {
  box-shadow: 0 0 1px 0 rgba($gray-darker, .4);
  padding: 0;
}

// -------------------------------------------------
// 4. Content
// -------------------------------------------------

.content {
  @include mat-typography-level-to-styles($typography, body-1);
  margin-top: $space;

  &:not(:last-child) {
    margin-bottom: $space;
  }

  ::ng-deep h1 {
    @include mat-typography-level-to-styles($typography, subheading-1);

    &:not(:first-child) {
      margin-top: $space-md;
    }

    &:not(:last-child) {
      margin-bottom: $space;
    }
  }

  ::ng-deep h2 {
    @include mat-typography-level-to-styles($typography, subheading-2);
    border-bottom: $pattern-border solid 1px;
    padding-bottom: $space-xxs;

    &:not(:first-child) {
      margin-top: $space-md;
    }

    &:not(:last-child) {
      margin-bottom: $space-sm;
    }
  }

  ::ng-deep h3 {
    @include mat-typography-level-to-styles($typography, subheading-2);

    &:not(:first-child) {
      margin-top: $space;
    }

    &:not(:last-child) {
      margin-bottom: $space-xs;
    }
  }

  ::ng-deep code {
    background: $gray-lighter;
    color: $gray-darker;
    margin-bottom: $space-md;
    padding: $space-xs;
  }

  ::ng-deep p {
    &:not(:last-child) {
      margin-bottom: $space;
    }
  }

  ::ng-deep table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

    &:not(:first-child) {
      margin-top: $space-md;
    }

    &:not(:last-child) {
      margin-bottom: $space-md;
    }
  }

  ::ng-deep tr {
    &:not(:last-child) {
      border-bottom: 1px solid $pattern-border;
    }
  }

  ::ng-deep th,
  ::ng-deep td {
    padding: $space-xs;
  }

  ::ng-deep th {
    background: $gray-white;
    color: $gray-dark;
    font-weight: 400;
    text-align: left;
  }
}

// -------------------------------------------------
// 5. Button Mobile
// -------------------------------------------------

.button-mobile {
  @include mat-typography-level-to-styles($typography, body-2);
  align-items: center;
  background: $brand-primary;
  color: $white;
  cursor: pointer;
  display: flex;
  height: $space-lg;
  justify-content: center;
  min-width: $space-xxlg;
  padding-left: $space-sm;
  padding-right: $space-sm;
  transition: color .15s;
}


