// ==================================================
// Social Media
// ==================================================

@import '../../helpers/variables';

:host {
  display: inline-block;
  filter: grayscale(100);
  opacity: .75;
  text-align: center;
  transition: filter .3s, opacity .3s;
  will-change: filter;

  &:hover
  &:focus {
    filter: grayscale(0);
    opacity: 1;
  }
}
