// ==================================================
// Scaffolding
// ==================================================

@import 'highlight.js/styles/monokai-sublime.css';
@import 'core';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:before,
  &:after {
    box-sizing: border-box;
  }

  &:hover,
  &:focus {
    outline: transparent;
  }
}

html {
  -moz-osx-font-smoothing: auto;
  font-size: 10px;
  overflow-x: hidden;
}

body {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

a {
  color: map-get($pallet-blue, 500);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
